.Game {
  background: white;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.1);
}

.Game-button-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Game-description {
  font-style: italic;
  color: white;
}

@media (min-width: 601px) {
  .Game {
    max-width: 600px;
    height: 100vh;
    margin: 0 auto;
    top: 0;
    bottom: 0;
  }
  h2 {
    font-size: 1.5em;
  }
}
