.PauseMenu-wrapper {
  position: absolute;
  text-align: left;
  width: 100%;
}

.PauseMenu-wrapper .pause-btn-wrapper {
  position: absolute;
  z-index: 1000;
  top: 20px;
  left: 41px;
}

.PauseMenu-inner-wrapper {
  width: 100%;
  position: absolute;
  z-index: 10;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  background-color: white;
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.PauseMenu-inner-wrapper > div {
  width: 80%;
  margin-bottom: 1rem;
}

.PauseMenu-inner-wrapper .restart-btn {
  width: 50%;
  height: 15vh;
  overflow: hidden;
  min-height: 85px;
}

.PauseMenu-inner-wrapper .restart-btn .reload-icon {
  font-size: 5rem;
  transform: rotate(0deg);
}

.PauseMenu-inner-wrapper .restart-btn:hover .reload-icon {
  color: purple;
  transform: rotate(360deg);
  transition: all 0.9s ease-in-out 0s;
}

.PauseMenu-inner-wrapper .restart-btn .text {
  position: relative;
  top: -20px;
}

@media screen and (max-width: 1024px) {
  .PauseMenu-inner-wrapper .restart-btn .text {
    display: none;
  }
}

.PauseMenu-inner-wrapper h2 {
  margin-top: 1rem;
}

.PauseMenu-inner-wrapper img {
  max-width: 100%;
}
