h2 {
  font-weight: inherit;
  font-size: 1.4em;
  border-bottom: 2px solid purple;
  display: inline-block;
  margin-bottom: 1rem;
}

.theme-main-background {
  background: linear-gradient(-45deg, #673ab7, #9c27b0);
}

.theme-main-title {
  margin-top: 1rem;
  color: white;
  margin-bottom: 0;
  font-weight: 100;
  display: inline-block;
  font-size: 3rem;
}

.theme-main-button {
  font-size: 1.4em;
  color: white;
  font-weight: 100;
  letter-spacing: -0.07em;
  transition: 0.5s;
  background-size: 200% auto;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.1);
  background-image: linear-gradient(
    to right,
    #91eae4 0%,
    #7f7fd5 51%,
    #91eae4 100%
  );
  border-radius: 0.5rem;
  border: none;
  width: 50%;
  padding: 0.3em 1em;
  margin-bottom: 1rem;
}

@media (min-width: 601px) {
  .theme-main-button {
    font-size: 2em;
    padding: 0.2em 1em;
  }
}

@media (hover: hover) {
  .theme-main-button:hover {
    cursor: pointer;
    background-position: right center;
  }
}

.theme-main-button:active,
.theme-main-button:focus {
  outline: none;
}

.theme-main-button:disabled {
  background-color: #ddd;
  cursor: not-allowed;
  opacity: 0.5;
}
